<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Expires" CONTENT="0">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <title>test3</title>
    <link rel="stylesheet" href="../css/financial.css"/>
    <link rel="stylesheet" href="../css/font-awesome-4.7.0/css/font-awesome.min.css"/>

  </head>
  <body>
    <section class="container-edge-distance">
      <div class="tab-title">
        <span class="back-icon"><</span>
        <div class="text-center">
              <div class="title-style">My Card</div>
        </div>

        <div class="bar-grid">
          <div class="bar-line"></div>
          <div class="bar-line2"></div>
        </div>
      </div>
    </section>

    <section class="margin-1" id="target">
      <div class="card-content">
        <div class="add-card">
          <div class="add-card-icon">
            <span> + </span>
          </div>
          <div class="add-card-text">
            Add card
          </div>
        </div>
        <div class="card-list-content">
          <div class="flex-layout2" id="card-list">
            <div class="card-lists">
              <div class="card-list-item">

                <div class="card-time">
                  Exp 22/02/2022
                </div>
                <div>
                  <span>card num</span><span>0000 0000 0000 0000 000</span>
                </div>
              </div>
            </div>
            <div class="card-lists">
              <div class="card-list-item card-list-item-small">

                <div class="card-time ">
                  Exp 22/02/2022
                </div>
                <div>
                  <span>card num</span><span>0000 0000 0000 0000 000</span>
                </div>
              </div>
            </div>
            <div class="card-lists">
              <div class="card-list-item card-list-item-small">

                <div class="card-time ">
                  Exp 22/02/2022
                </div>
                <div>
                  <span>card num</span><span>0000 0000 0000 0000 000</span>
                </div>
              </div>
            </div>
            <div class="card-lists">
              <div class="card-list-item card-list-item-small">

                <div class="card-time ">
                  Exp 22/02/2022
                </div>
                <div>
                  <span>card num</span><span>0000 0000 0000 0000 000</span>
                </div>
              </div>
            </div>
            <div class="card-lists">
              <div class="card-list-item card-list-item-small">

                <div class="card-time ">
                  Exp 22/02/2022
                </div>
                <div>
                  <span>card num</span><span>0000 0000 0000 0000 000</span>
                </div>
              </div>
            </div>
            <div class="card-lists">
              <div class="card-list-item card-list-item-small">

                <div class="card-time ">
                  Exp 22/02/2022
                </div>
                <div>
                  <span>card num</span><span>0000 0000 0000 0000 000</span>
                </div>
              </div>
            </div>
            <div class="card-lists">
              <div class="card-list-item card-list-item-small">

                <div class="card-time ">
                  Exp 22/02/2022
                </div>
                <div>
                  <span>card num</span><span>0000 0000 0000 0000 000</span>
                </div>
              </div>
            </div>
            <div class="card-lists">
              <div class="card-list-item card-list-item-small">

                <div class="card-time ">
                  Exp 22/02/2022
                </div>
                <div>
                  <span>card num</span><span>0000 0000 0000 0000 000</span>
                </div>
              </div>
            </div>
            <div class="card-lists">
              <div class="card-list-item card-list-item-small">

                <div class="card-time ">
                  Exp 22/02/2022
                </div>
                <div>
                  <span>card num</span><span>0000 0000 0000 0000 000</span>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>

    <section class="margin-2">
      <div class="flex-layout list-item-second-part">
        <div class="list-item">
          <i class="fa fa-lock" aria-hidden="true"></i>
          <div class="">
            Lock Card
          </div>
        </div>
        <div class="list-item">
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <div class="">
            Change PIN
          </div>
        </div>
        <div class="list-item">
          <i class="fa fa-briefcase" aria-hidden="true"></i>
          <div class="">
            Top up
          </div>
        </div>
      </div>


      <h3 class="top-operations">Top Operations</h3>
      <div class="top-operations-content">
        <div class="flex-layout list-item-third-part">
          <div class="list-item">
            <div class="fa-item">
              <i class="fa fa-heartbeat" aria-hidden="true"></i>
            </div>

            <div class="">
              Health
            </div>
          </div>
          <div class="list-item">
            <div class="fa-item">
              <i class="fa fa-cutlery" aria-hidden="true"></i>
            </div>

            <div class="">
              Food
            </div>
          </div>
          <div class="list-item">
            <div class="fa-item">
              <i class="fa fa-road" aria-hidden="true"></i>
            </div>

            <div class="">
              Travel
            </div>
          </div>
          <div class="list-item">
            <div class="fa-item">
              <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            </div>

            <div class="">
              Education
            </div>
          </div>
          <div class="list-item">
            <div class="fa-item">
              <i class="fa fa-group" aria-hidden="true"></i>
            </div>

            <div class="">
              Charity
            </div>
          </div>
          <div class="list-item">
            <div class="fa-item">
              <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            </div>

            <div class="">
              Education
            </div>
          </div>

        </div>
      </div>

    </section>
    <section>
      <div class="info-content">
        <div class="flex-layout2">
          <div>Transactions</div>
          <div class="see-all">See All</div>
        </div>
        <div class="">
          <div class="transaction-item flex-layout2">
            <div class="icon-style">
              <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            </div>
            <div class="">
              <div>
                Grocery
              </div>
              <div>
                TSD prime mall
              </div>
            </div>

            <div class="">
              $30 USD
            </div>
          </div>
          <div class="transaction-item flex-layout2">
            <div class="icon-style">
              <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            </div>
            <div class="">
              <div>
                Utilities
              </div>
              <div>
                Home utilities
              </div>
            </div>
            <div class="">
              $30 USD
            </div>
          </div>
          <div class="transaction-item flex-layout2">
            <div class="icon-style">
              <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            </div>
            <div class="">
              <div>
                Medical
              </div>
              <div>
                TSD prime mall
              </div>
            </div>
            <div class="">
              $30 USD
            </div>
          </div>
        </div>
      </div>

    </section>
  </body>

</html>
<script type="text/javascript" src="../js/touch.0.2.10.js"></script>
<script type="text/javascript" src="../js/zepto.js"></script>
<script type="text/javascript" src="../js/jquery-3.5.1.js"></script>
<script type="text/javascript">
touch.on('#target', 'touchstart', function(ev){
	ev.preventDefault();
});

var target = document.getElementById("target");
var index = 0;
var widthStandard = $("#card-list .card-lists").eq(0).outerWidth(true)
console.log(widthStandard)

touch.on(target, 'swiperight', function(ev){

  if(index>0){
    $("#card-list .card-lists").eq(index).children().css({"transform":"scale(.5)","transition":"all .5s","background":"url(../img/small.svg) no-repeat","background-size":"cover"});
    index--;
    $("#card-list").css({"transform":"translate3d(-"+ index*widthStandard +"px, 0, 0)","transition":"all .5s"});
  }

});


touch.on(target, 'swipeleft', function(ev){

  index++;
  if(index < $("#card-list .card-lists").length) {
    $("#card-list").css({"transform":"translate3d(-"+ index*widthStandard +"px, 0, 0)","transition":"all .5s"})
    $("#card-list .card-lists").eq(index).children().css({"transform":"scale(1)","transition":"all .5s","background":"url(../img/svg.svg) no-repeat","background-size":"cover"});
  }



});
</script>
