<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Expires" CONTENT="0">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <title>test</title>
    <link rel="stylesheet" href="../css/styules.css">
  </head>
  <body>
    test
    <div id="addSome">test3</div>
      <div class="testing">test3</div>
    <div class="testing">test</div>

dsf






dgdddddddddddddddddddddddddd
  </body>

</html>
<script type="text/javascript" src="../js/test.js"></script>
